body {
    
}

/*Prueba grid*/
.grid-container {
  display: grid;
    max-height: none;
  grid-gap: 0px;
  grid-template-columns: 1fr 102px 380px 134px 134px 380px 102px 1fr;
    grid-template-rows: 120px 76px 1179px 120px 78px;
  background-color: #FFFFFF;
  padding: 0px;
}


.item1 {
    grid-column: 1/9;
    grid-row: 1;
}

.item2 {
    grid-column: 4/8;
    grid-row: 1;

}

.item3 {
    grid-row: 1;
    grid-column: 1/3;
  padding-left: 50px;
    color: white;
    
}

/*<style type="text/css">*/
a:link {text-decoration:none; color: white;} /* Link no visitado*/
a:visited {text-decoration:none; color: white;} /*Link visitado*/
a:active {text-decoration:none; color: white;} /*Link activo*/
a:hover {text-decoration:none; color: white;} /*Mause sobre el link*/
/*</style>*/

ul {
    
    list-style-type: none;
    margin: 0;
    margin-top: 0;
    padding: 13px;
    overflow: hidden;
    
    
}

ul li{
    float: left;
    padding-right: 70px;
    
}

ul li a {
    
    display: block;
    color: white;
    text-align: center;
    padding-top: 15px;
    text-decoration:none;
}


ul li a:hover {
    
    background-color: #016216;
    
    
}

h2
{
    font-family: "Manjari";
    font-size: 20px;
    color: #EEEEEE;
    letter-spacing: 2px;
    font-weight:inherit;
    padding-top: 12px;
}

h3
{
    font-family: "Manjari";
    font-size: 24px;
    color: #000000;
    font-weight:inherit;
    
}

h4
{
    font-family: "Manjari";
    font-size: 30px;
    color: #000000;
    letter-spacing: 2px;
    font-weight:inherit;
    margin: 0px;
}